.addCoffe{
    background: #F4F3F0;

}
.form-control{
    width: 300px;
    border: none;
}
.myform-control{
    width: 700px;
}
.form-control:focus{
    box-shadow: none;
    border: none;
}

.addbtn{
    width: 700px;
    background-color: bisque;
}


@media screen and (max-width:576px) {
    .form-control{
        width: 350px;
    }
    .myform-control{
        width: 100%;
    }
    .addbtn{
        width: 100%;
      
    }
}
@media screen and (max-width:320px) {
    .form-control{
        width: 250px;
    }
}